src/ils/models/dominio/apresentacao.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="apresentacao">
		<xs:complexType>
			<xs:sequence>
		
			<xs:element name="idAp" type="xs:string"/>
			<xs:element name="conteudo" type="xs:string"/>
			<xs:element name="texto" type="xs:string"/>
			<xs:element name="codigo" type="xs:string" minOccurs="0"/>

			</xs:sequence>
		</xs:complexType>
  	</xs:element>
</xs:schema>
