src/ils/models/dominio/bug.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bug">
		<xs:complexType>
			<xs:sequence>
		
			<xs:element name="idBug" type="xs:string"/>
			<xs:element name="conteudo" type="xs:string"/>
			<xs:element name="idEx" type="xs:string"/>
			<xs:element name="codigo" type="xs:string"/>

			</xs:sequence>
		</xs:complexType>
  	</xs:element>
</xs:schema>
