dominio/hierarquia.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="hierarquia">
		<xs:complexType>
			<xs:sequence>
			
			<xs:element name="nodoR">
  					<xs:complexType>
    					<xs:sequence>
    						
    						<xs:attribute name="nome" type="xs:string" minOccurs="1"/>
    						<xs:element name="nodoS" type="xs:string" minOccurs="1"/>
    						
    					</xs:sequence>
					</xs:complexType>
      			</xs:element>
      			
      		</xs:sequence>
		</xs:complexType>
     </xs:element>
</xs:schema>
